html, 
body 
{
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.canvas
{
    background-image: url(../textures/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.active-content
{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

